.Verification{
    background-color: var(--second);
    text-align: center;
    padding: 1.2rem;
    color: white;
    position: relative;
}
.Verification img{
    position: absolute;
    top: 45%;
    left: 2%;
}

.Verification p{
    font-size: 0.8rem;
    color: #808093;
}

.Idnumber input{
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    padding: 1.2rem 0.8rem;
    outline: none;
    border: 1px solid #C5C4C4;
    margin-bottom: 20px;
    margin-top: 10px;
}
.Idnumber input::placeholder{
    color: #5E5E5E;
}

.IDwith{
    width: 70%;
    text-align: center;
    margin: 20px auto;
}

.IDwith select{
    appearance: none;
    background-image: url(assets/Dashboard/select.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 10px;
    padding-right: 30px;
    width: 100%;
    margin: 10px auto 20px;
    border-radius: 10px;
    background-color: transparent;
    padding: 1rem 0.7rem;
    border: 1px solid #C5C4C4;
}
.IDwith h4{
    text-align: left;
    color: #00493C;
}
.labelselect{
    display: flex;
    justify-content: space-between;
}

.labelselect select{
    width: 32%;
}

.IDwith form{
    border: 2px dashed #AC1D40;
    background-color: #FEDEEC;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 10px;
}

.IDwith button{
    width: 90%;
    margin: 55px auto 35px;
    background-color: var(--second);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    padding: 0.7rem;
    border: 1px solid var(--second);
    display: flex;
    justify-content: center;

}

.file input{
    /* display: none; */
    /* color: transparent; */
    width: 40%;
}
.file{
    background-color: #AC1D40;
    padding: 0.2rem 1rem;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
    color: white;
    /* display: inline-block; */
}


.Modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto auto;
    background-color: white;
    height: 80%;
    overflow: scroll;
  }
  


  .Overlay {
    position: fixed;
    z-index: 111111;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px){
    .Modal {
        width: 80%;
        height: 90%;
      }


  }

  @media (max-width: 566px){

    .labelselect{
        display: block;
    }
    .labelselect select{
        width: 70%;
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }
    .file{
        width: 60%;
    }
    
  }