.NewBeneficiarial{
    width:100%;
}
.SMN{
    background-color: rgba(0, 73, 60, 1);
    display:flex;
    justify-content: space-between;
    width:100%;
   align-items: center;
   border-radius:5px 5px 0px 0px
}
.Smoney{
    margin:5px auto 0px;
    border-radius: 5px ;
    text-align: center;
   
} 
.Smoney h2{
    color:var(--white);
    margin-top: 0.9rem;
}
.Smoney p{
    color: rgba(128, 128, 147, 1);
    font-size: 0.8rem;
    margin-bottom: 00.7rem;


}
.leftarrow{
    margin-left:0.9rem ;
}
.form{
     width: 60%;
   
    margin:2rem auto;
   
}
.button{
    margin:0 25%;
    width: 49%;
    background-color:  rgba(0, 73, 60, 1); ;
    height: 3rem;
    text-align: center;
    color: #fff;
    border:none;
    border-radius: 5px;
   font-size: 1.3rem;
   margin-bottom: 2rem;
}
label{
    font-size:0.9rem;
    color: rgba(0, 73, 60, 1);
}
.formE input{
    border-radius: 5px;
    border:1px solid #C5C4C4;
    width: 100%;
    padding: 1rem 0.3rem;
}
.narration input{
    border-radius: 5px;
    border:1px solid #C5C4C4;
    width: 100%;
    padding:2rem 0.3rem;
}
.receiver{
    border-radius: 5px;
    border:1px solid #C5C4C4;
    width: 100%;
    background-color: #EEEEEE;
    padding:1rem 0.3rem;
}


.amount p{
    display: flex;
    flex-direction: flex-end;
    font-size:0.5rem;
    color: #F07695;
    background-color:  rgba(255, 239, 239, 1);
    margin-bottom: 20px;
   
}

.amount{
    width: 37%; 
    display: flex;
   position: absolute;
   top: 21;
   right: 0;
   margin-top:0.2rem;
 }
.search{
    border-radius: 5px;
    width: 100%;
    background: #FFE8F0;

    padding:0.4rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  
}
.logo{
    
    display: flex;
}
.text{
    margin-left: 1rem;
}
.text{
    font-size: 0.5rem;
}
.text p{
    color: #6B6B6B;

}


.OverlayP{
    background-color:rgba(0, 0, 0, 0.1 );
   position: fixed;
   top: 0;left: 0;
   right: 0;
   bottom: 0;
   z-index: +7111;
}
.ModalP{
   background-color:var(--white);
   height: 88%;
   position: absolute;
   width: 50%;
   top: 0;
   bottom: 0;
   left: 0;
   right:0;
   margin: auto auto;
   border-radius:5px;
   overflow: scroll;
   overflow-x: hidden;
 
  
}
.formE{
    margin:2rem 0;
}
@media (max-width: 1024px) {
    .amount{
        width: 43%; 
       
     }
}
@media (max-width: 990px) {
    .amount{
        width: 47%; 
       
     }
}

@media (max-width: 768px) {
    .amount{
        width: 49%; 
       
     }
}
@media (max-width: 568px) {
    .ModalP{
        height: 80%;
     width: 80%;
     }
}
@media (max-width: 425px) {
    .amount{
        width: 52%; 
        
    }
    
}
@media (max-width: 375px) {
    .amount{
        width: 54%; 
        
    }
    
   
}
