

.card {
    width: 100%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding: 1rem 0rem;
    text-align: center;
}

.image img {
    width: 5rem;
}

.text > h3 {
    font-size: 2rem;
    font-weight: var(--light);
    color: var(--white);
}

.text > p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.826);
    width: 80%;
    margin: 0 auto;
}


@media screen and (max-width: 768px){
    .card {
        height: 12rem;

    }
    .text > h3 {
        font-size: 1rem;
        font-weight: var(--light);
        color:var(--white);
        padding: 1rem 0rem;
    }

    .image img {
        width: 3rem;
    }

    .text > p {
        font-size: .8rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.826);
        width: 80%;
        margin: 0 auto;
    }
    
    }
@media screen and (max-width: 576px){

    .card {
        width: 100%;
        height: 17rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0rem;
        text-align: center;
    }

    .text > h3 {
        font-size: 1.5rem;
        font-weight: var(--light);
        color: var(--white);
        padding: 1rem 0rem;
    }

    .image img {
        width: 5rem;
    }
    }