table {
    width:100%;
    border-collapse: collapse;
}

th,
td{
    padding: 12px;
    color:
    rgba(0, 0, 40, 0.75);
}

th:nth-of-type(1),
th:nth-of-type(2),
th:nth-of-type(3){
    text-align:left;
}

tr{
    border-bottom: 1px solid 
    rgba(94, 94, 94, 0.08);
}
td:nth-of-type(4),
td:nth-of-type(5),
td:nth-of-type(6),
td:nth-of-type(7){
  text-align:center;
}

tr:last-child{
    border-bottom: 0px;
}

.pend p{
    color:#EAC435;
    background: #FFFCEF;  
    border-radius: 10px;
    font-size:0.9rem;
    font-weight: 700;
    width:70%;
    margin:0 auto;
}
.success p{
    color:#0A9328;
    background: #EFFFF2;  
    border-radius: 10px;
    font-size:0.9rem;
    font-weight: 700;
    width:80%;
    margin:0 auto;
}

.fail p{
    color:#DE0000;
    background: #FFEFEF;
    border-radius: 10px;
    font-size:0.9rem;
    font-weight: 700;
    width:70%;
    margin:0 auto;
}
.trans{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}
.View{
    border:1px solid rgba(0, 0, 40, 0.25);
    color: rgba(0, 0, 40, 0.75);
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
}
.View span{
    font-size:0.9rem;
    margin-right: 1.5rem;
}
.trans h2{
    color: var(--primary);
    font-weight:700;
}

.prev{
    transform:rotate(180deg);
    background:#AC1D40;
    border-radius: 0.5rem;
    font-size:30px;
    color: white;
}
.next{
    background:#AC1D40;
    border-radius: 0.5rem;
    font-size:30px;
    color: white;
}

.page{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    justify-content: flex-end;

}

.num{
    background:white;
    border-radius: 0.5rem;
    border: 1px solid #E7E7E7;
    padding: 0.1rem 0.6rem;
    font-size: 0.85rem;
}

.leftview{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filterselect{
    border:1px solid rgba(0, 0, 40, 0.25);
    color: rgba(0, 0, 40, 0.75);
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
}
.filterselect select{
    color: rgba(0, 0, 40, 0.75);
    padding: 0.2rem 0.8rem;
    outline: none;
    border: none;
    background-color: transparent;
}


@media (max-width: 1000px) {
    table{
        font-size: 0.8rem;
    }
    
}


@media (max-width: 566px) {
    .View{
        display:none;
    }
    td:nth-of-type(1),
    td:nth-of-type(4),
    td:nth-of-type(7){
    display:none;
    }
    th:nth-of-type(1),
    th:nth-of-type(4),
    th:nth-of-type(7){
    display:none; }

    table{
        font-size: 0.7rem;
    }
    
    .pend p{
        font-size:0.7rem;
        width:100%;
        margin:0 auto;
    }
    .success p{
        font-size:0.7rem;
        width:100%;
        margin:0 auto;
    }

    .fail p{
        font-size:0.7rem;
        width:100%;
        margin:0 auto;
    }
    .num{
        display: none;
    }
}