.custom_select {
    padding: 1rem 1.5rem;
    width: 100%;
    margin: 1.5rem 0rem;
    border-radius: 8px;
    appearance: none;
    background-image: url(assets/Dashboard/select.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 10px;
    padding-right: 30px;
    width: 100%;
    margin: 10px auto 20px;
    border-radius: 10px;
    background-color: transparent;
    padding: 1rem 0.7rem;
    border: 1px solid #C5C4C4;
}


.new_account2 {
    text-align: center;
    margin-top: 2rem ;
}

.new_account2 span  {
    color:#DA4167;
    font-weight: var(--light);
}


.new_account2 a {
    text-decoration: none;
}