.section2 {
    height: 35rem;
    background: var(--second);
}

.header {
    padding: 3.5rem 0rem 3.5rem 0rem;
}



.card_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .card_container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

    }

    .section2 {
        height: 27rem;
    }

    .sect-header2 {
        font-weight: 700;
        font-size: 25px;
        color: #ffff;
        text-align: center;
      }

}

@media screen and (max-width: 576px) {
    .card_container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 52rem;
    }

    .section2 {
        height: 73rem;
    }

}



.full5 {
    background-color: #FAFAFA;
}

.container {
    width: 80%;
    margin: 0px auto 0px;
    background: #FAFAFA;
    height: 700PX;

}

.container>h4 {
    padding: 56px 0px 70px 0px;
    font-family: "cairo";
    font-size: 40px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;


}

.section5 {
    display: flex;
    justify-content: space-between;


}

.section5a1 {
    margin-top: 50px;
    width: 40%;
}

.section5a2 {
    position: absolute;
    width: 27px;
    height: 27px;
    background: #EAC435;
    left: 0px;
    top: -7px;
    z-index: 1;
    border-radius: 50px;
    border: 3px solid #fff;
}

.section5a3 {
    width: 400px;
    height: 80px;
    background: #EAC43540;
    border-radius: 16px;

    position: relative;
    margin-bottom: 50px;
}

.section5a3>h4 {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    margin-left: 22px;

}

.section5a3>p {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin-left: 22px;
    color: #000028;
}

.section5a21 {
    position: absolute;
    width: 27px;
    height: 27px;
    background: #25C5FA;
    left: 0px;
    top: -10px;
    z-index: 1;
    border-radius: 50px;
    border: 3px solid #fff;
}

.section5a31 {
    width: 400px;
    height: 80px;
    background: #25C5FA40;
    border-radius: 16px;

    position: relative;
    margin-bottom: 50px;
}

.section5a31>h4 {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    margin-left: 22px;

}

.section5a31>p {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin-left: 22px;
    color: #000028;
}

.section5a22 {
    position: absolute;
    width: 27px;
    height: 27px;
    background: #DA4167;

    left: 0px;
    top: -10px;
    z-index: 1;
    border-radius: 50px;
    border: 3px solid #fff;
}

.section5a32 {
    width: 400px;
    height: 80px;
    background: #DA416740;
    border-radius: 16px;
    position: relative;
    margin-bottom: 50px;
}

.section5a32>h4 {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    margin-left: 22px;


}

.section5a32>p {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin-left: 22px;
    color: #000028;
}

.world {
    width: 50%;
}

.world>img {
    width: 95%;

}


@media (max-width:1237px) {
    .world>img {
        width: 110%;
    }
}

@media (max-width:1142px) {
    .container>h4 {
        font-size: 35px;
    }
}

@media (max-width:1062px) {
    .world>img {
        width: 120%;
    }
}

@media (max-width:1024px) {
    .section5a3 {
        width: 370px;

    }

    .section5a31 {
        width: 370px;

    }

    .section5a32 {
        width: 370px;

    }
}

@media (max-width:984px) {
    .section5a3 {
        margin-bottom: 20px;

    }

    .section5a31 {
        margin-bottom: 20px;
    }

    .section5a3 {
        width: 330px;

    }

    .section5a31 {
        width: 330px;

    }

    .section5a32 {
        width: 330px;

    }

    .section5a3 p {
        font-size: 14px;

    }

    .section5a31 p {
        font-size: 14px;

    }

    .section5a32 p {
        font-size: 14px;

    }

    .world {
        width: 50%;
    }

    .world>img {
        width: 120%;
        margin-right: 10px;
    }
}

@media (max-width:864px) {
    .section5a3 {
        margin-bottom: 20px;

    }

    .section5a31 {
        margin-bottom: 20px;
    }

    .section5a3 {
        width: 280px;

    }

    .section5a31 {
        width: 280px;

    }

    .section5a32 {
        width: 280px;

    }

    .section5a3 p {
        font-size: 11px;

    }

    .section5a31 p {
        font-size: 11px;

    }

    .section5a32 p {
        font-size: 11px;

    }

    .world {
        width: 50%;
    }

    .world>img {
        width: 110%;
        margin-right: 10px;
        margin-top: 30px;
    }
}