.grid {
  display: flex;
  width: 80%;
  height: 5rem;
  justify-content: space-between;
}

.Input_cont {
  width: 3rem !important;
  height: 3rem;
  font-size: 1.8rem;
  border: 1px solid #c8c5c5;
  border-radius: 4px;
  text-align: center;
}
.grid input:focus {
  border: 1px solid #000000;
  outline: 1px solid #000000;
}

@media screen and (max-width: 768px) {
  .grid {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
  }
  
  .Input_cont {
    width: 3rem !important;
    height: 3rem;
    border: 1px solid #c8c5c5;
    border-radius: 4px;
    text-align: center;
  }
}
