<<<<<<< HEAD


.grid {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-gap: 20px;
  justify-content: center;
}

.grid input {
  width: 50px;
  height: 50px;
  border: 1px solid #c8c5c5;
  border-radius: 7px;
  text-align: center;
}
.grid input:focus {
  border: 1px solid #000000;
  outline: 1px solid #000000;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 35px);
    grid-gap: 10px;
  }
  .grid input {
    width: 35px;
    height: 35px;
  }


=======
.form_cont {
    display: flex;
    flex-direction: column;
    width: 15%;
  }
  
  .form_cont:not(:last-child) {
    margin-bottom: 20px;
  }
  

  
  .form_input {
    padding: 20px 15px;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid var(--grey);
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  input:focus {
    border: 2px solid var(--primary);
  }
  
  .form_input:focus {
    outline: none;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: var(--grey);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey);
  }
  
  ::placeholder {
    color: var(--grey);
  }
  
.Name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.forgot_sect {
  margin-bottom: 2rem ;
}

.forgot span  {
    color:#DA4167;
    font-weight: var(--light);
}

.forgot a {
    text-decoration: none;
}


.new_account {
  text-align: center;
  margin-top: 1.5rem ;
}

.new_account span  {
  color:#DA4167;
  font-weight: var(--light);
}


.new_account a {
  text-decoration: none;
>>>>>>> main
}