.Verification{
    background-color: var(--second);
    text-align: center;
    padding: 1.2rem;
    color: white;
    position: relative;
}
.Verification img{
    position: absolute;
    top: 45%;
    left: 2%;
}

.Verification p{
    font-size: 0.8rem;
    color: #808093;
}

.Customer select{
    appearance: none;
    background-image: url(assets/Dashboard/select.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 10px;
    padding-right: 30px;
    width: 100%;
    margin: 10px auto 20px;
    border-radius: 10px;
    background-color: transparent;
    padding: 1rem 0.7rem;
    border: 1px solid #C5C4C4;
}
.CustomerSelect{
    width: 70%;
    margin: 20px auto;
}
.Customer h4{
    color: #00493C;
}

.Customer button{
    width: 90%;
    margin: 35px auto;
    background-color: var(--second);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    padding: 0.7rem;
    border: 1px solid var(--second);
    display: flex;
    justify-content: center;

}

.Modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto auto;
    background-color: white;
    height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  


  .Overlay {
    position: fixed;
    z-index: 11111;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px){
    .Modal {
        width: 80%;
        height: 90%;
      }
   
  }