table {
    width:100%;
    border-collapse: collapse;
}
.transpage{
    padding: 1rem;
    background: var(--white);
    border-radius:10px;
}
th,
td{
    padding: 12px;
    color:
    rgba(0, 0, 40, 0.75);
}

th:nth-of-type(1),
th:nth-of-type(2),
th:nth-of-type(3){
    text-align:left;
}

tr{
    border-bottom: 1px solid 
    rgba(94, 94, 94, 0.08);
    cursor: pointer;
}
td:nth-of-type(4),
td:nth-of-type(5),
td:nth-of-type(6),
td:nth-of-type(7){
  text-align:center;
}

tr:last-child{
    border-bottom: 0px;
}

.pend p{
    color:#EAC435;
    background: #FFFCEF;  
    border-radius: 10px;
    font-size:0.9rem;
    font-weight: 700;
    width:70%;
    margin:0 auto;
}
.success p{
    color:#0A9328;
    background: #EFFFF2;  
    border-radius: 10px;
    font-size:0.9rem;
    font-weight: 700;
    width:80%;
    margin:0 auto;
}

.fail p{
    color:#DE0000;
    background: #FFEFEF;
    border-radius: 10px;
    font-size:0.9rem;
    font-weight: 700;
    width:70%;
    margin:0 auto;
}
.trans{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}
.View{
    border:1px solid rgba(0, 0, 40, 0.25);
    color: rgba(0, 0, 40, 0.25);
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.View input{
    font-size:0.9rem;
    margin-right: 1.5rem;
    width:100%;
    background-color: transparent;
    outline:none;
    border: none;
}
.View input::placeholder{
    color: rgba(0, 0, 40, 0.25);
}

.trans h2{
    color: var(--primary);
    font-weight:700;
}

.prev{
    transform:rotate(180deg);
    background:#AC1D40;
    border-radius: 0.5rem;
    font-size:30px;
    color: white;
}
.next{
    background:#AC1D40;
    border-radius: 0.5rem;
    font-size:30px;
    color: white;
}

.page{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    justify-content: flex-end;

}

.num{
    background:white;
    border-radius: 0.5rem;
    border: 1px solid #E7E7E7;
    padding: 0.1rem 0.6rem;
    font-size: 0.85rem;
}

.leftview{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 30%;
}

.filterselect{
    border:1px solid rgba(0, 0, 40, 0.25);
    color: rgba(0, 0, 40, 0.25);
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
}
.filterselect select{
    color: rgba(0, 0, 40, 0.25);
    padding: 0.2rem 0.8rem;
    outline: none;
    border: none;
    background-color: transparent;
}

/* Modals */

.Modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto auto;
    background-color: white;
    height: 80%;
    overflow: scroll;
  }
  


  .Overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .ModalTransfer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto auto;
    background-color: white;
    height: 80%;
    overflow: scroll;
  }
  


  .OverlayTransfer {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .ModalP2P {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto auto;
    background-color: white;
    height: 80%;
    overflow: scroll;
  }
  


  .OverlayP2P {
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }