.Success button{
    width: 60%;
    margin: 35px auto;
    background-color: var(--second);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    padding: 0.7rem;
    border: 1px solid var(--second);
    display: flex;
    justify-content: center;

}
.Success {
    text-align: center;
    margin-top: 5rem;
}
.Success_img{
    width: 50%;
    margin: 10px auto;
}

.Success h2{
    width: 35%;
    margin: 10px auto;
}