.form_cont {
  display: flex;
  flex-direction: column;
  width: 48%;
}
<<<<<<< HEAD

=======
>>>>>>> main
.form_cont p {
  color: #AC1D40;
}

.form_cont:not(:last-child) {
  margin-bottom: 20px;
}

.form_contain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_contain:not(:last-child) {
  margin-bottom: 20px;
}

.form_label {
  font-style: normal;
  font-weight: var(--light);
  font-size: 15px;
  line-height: 28px;
  color: var(--text);
  margin-bottom: 8px;
}

.form_input {
  padding: 15px 15px;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid var(--grey);
  box-sizing: border-box;
  border-radius: 8px;
}

<<<<<<< HEAD
.phoneNumber>div {
  border: 1px solid var(--grey);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  font-size: 16px;
}


.phoneNumber input {
  width: 100%;
  /* padding: 15px 15px; */
  font-size: 16px;
  background: #ffffff;
  border: none;
}

.phoneNumber input:focus {
  border: none !important;
  outline: none !important;
}



=======
>>>>>>> main
.password {
  display: flex;
  position: relative;
}

.password input {
  width: 100%;
}

.btn {
  position: absolute;
  width: 10%;
  right: 8px;
  top: 25%;
  height: 100%;
  background: none;
  color: var(--black);
}
<<<<<<< HEAD

=======
>>>>>>> main
input:focus {
  border: 2px solid var(--primary);
}

.form_input:focus {
  outline: none;
}


.Name {
  display: grid;
  column-gap: 15px;
  grid-template-columns: auto auto;
  width: 100%;
}

.forgot_sect {
  margin-bottom: 2rem;
}

.forgot span {
  color: #da4167;
  font-weight: var(--light);
}

.forgot a {
  text-decoration: none;
}

.new_account {
  text-align: center;
  margin-top: 1.5rem;
}

.new_account span {
  color: #da4167;
  font-weight: var(--light);
}

.new_account a {
  text-decoration: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> main
