.container {
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  width: 80%;
  height: 6rem;
  margin: 0px auto;
  padding: 20px 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100%;
}

.menu-links {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItems {
  text-decoration: none;
}

.navItems {
  list-style: none;
  font-size: 1rem;
  font-weight: 650;
  color: var(--second);
}

.navbarbtnLinks {
  width: 45%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnOutlined button {
  width: 8rem;
  height: 3rem;
  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 650;
  font-family: "Cairo", sans-serif;
  color: var(--primary);
}

.btnFilled button {
  width: 8rem;
  height: 3rem;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 650;
  font-family: "Cairo", sans-serif;
  color: var(--white);
}

/* mobile menu styling */

.navbar .menu-icons {
  display: none;
}

@media screen and (max-width: 1200px) {
  .menu-links {
    width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .navbarbtnLinks {
    width: 52%;
    height: 4rem;
  }

  .menu-links {
    width: 72%;
  }

  .btnOutlined button {
    width: 8rem;
    height: 3.5rem;
  }

  .btnFilled button {
    width: 8rem;
    height: 3.5rem;
  }
}

@media screen and (max-width: 900px) {
  .navbarbtnLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 10rem;
    padding-top: 1rem;
  }

  .btnOutlined button {
    width: 12rem;
    height: 3.5rem;
  }

  .btnFilled button {
    width: 12rem;
    height: 3.5rem;
    border: 1px solid #fff;
  }

  .nav-links {
    flex-direction: column;
    height: 90vh;
    align-items: flex-start;
    padding: 12% 80px;
  }

  .navItems {
    font-size: 1.8rem;
    color: #fff;
  }

  .navbar .menu-icons {
    display: block;
  }

  .navbar #nav-links-mobile,
  .navbar #nav-links-mobile-hide {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
    width: 90vw;
    background-color: var(--primary);
    border-top: 1px solid grey;
    transition: all 0.3s;
    z-index: 11111;
  }

  .navbar #nav-links-mobile {
    animation: slide-in 0.5s ease-in-out;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .navbar #nav-links-mobile-hide {
    left: -100%;
    animation: slide-out 0.5s ease-in-out;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 576px) {
  .nav-links {
    padding: 20% 40px;
  }
}
