.ReceiversDetails {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.RD {
  background-color: rgba(0, 73, 60, 1);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}
.Rdetails {
  margin: 5px auto 0px;
  border-radius: 5px;
  text-align: center;
}
.Rdetails h2 {
  color: var(--white);
  margin-top: 0.9rem;
}
.Rdetails p {
  color: rgba(128, 128, 147, 1);
  font-size: 0.8rem;
  margin-bottom: 00.7rem;
}
.leftarrow {
  margin-left: 0.9rem;
}
.TransactionType {
  width: 60%;
  background-color: #ffe7ef;
  border-radius: 5px;
  border: 1px dotted #ac1d40;
  margin: 4rem auto 2rem;
  padding: 0.9rem;
}
.TransactionBox {
  display: flex;

  justify-content: space-between;
}

.TransactionBox1 {
  text-align: left;
}

.TransactionBox2 {
  text-align: right;
}
.TransactionBox1 p {
  font-size: 0.7rem;
  color: #828282;
}
.TransactionBox1 h6 {
  font-size: 0.7rem;
  color: #333333;
}
.TransactionBox2 p {
  font-size: 0.7rem;
  color: #828282;
}
.TransactionBox2 h6 {
  font-size: 0.7rem;
  color: #333333;
}
.button {
  margin: 0 auto 3rem auto;
  width: 45%;
  background-color: var(--second);
  height: 3rem;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
}

.buttonF {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Text {
  margin-bottom: 0.9rem;
}
.transactionpin {
  /* width:40%; */
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ttext {
  margin: 0rem auto;
  text-align: center;
  font-size: 0.5rem;
  color: #6d6d6d;
}
.Pin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.grid {
  display: flex;
  width: 70%;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.Input_cont {
  width: 3rem !important;
  height: 3rem;
  font-size: 1.8rem;
  border: 1px solid #c8c5c5;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.grid input:focus {
  border: 1px solid #000000;
  outline: 1px solid #000000;
}
.OverlayP {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: +9411;
}
.ModalP {
  background-color: var(--white);
  height: 88%;
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .ModalP {
    height: 80%;
    width: 80%;
  }
  .TransactionType {
    width: 80%;
  }

  .Pin {
    width: 80%;
  }

  .button {
    margin: 0 auto 3rem auto;
    width: 60%;
  }

  .buttonF {
    margin-top: 2rem;
  }

  .grid {
    display: flex;
    width: 80%;
  }

  .Input_cont {
    width: 3rem !important;
    height: 3rem;
    border: 1px solid #c8c5c5;
    border-radius: 4px;
    text-align: center;
  }
}
@media (max-width: 768px) {

  .grid {
    display: flex;
    width: 98%;
  }

  .Input_cont {
    width: 2.5rem !important;
    height: 3rem;
    border: 1px solid #c8c5c5;
    border-radius: 4px;
    text-align: center;
  }
}
@media (max-width: 567px) {
  .grid {
    display: flex;
    width: 100%;
  }

  .Input_cont {
    width: 2.5rem !important;
    height: 3rem;
    border: 1px solid #c8c5c5;
    border-radius: 4px;
    text-align: center;
  }
}
