* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 1450px;
  margin: auto;
}

html {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
}

.active {
  border-bottom: 3px solid blue;
}

:root {
  --primary: #049a76;
  --second: #00493c;
  --text: #252525;
  --white: #fff;
  --grey: #8795a1;
  --bold: 800;
  --light: 700;
}

/* paragraph text */

.small-text {
  font-size: 1rem;
  line-height: 2;
  font-weight: 500;
  color: #00002880;
}

.sect-header1 {
  font-weight: var(--bold);
  font-size: 25px;
  color: var(--text);
}

.sect-header2 {
  font-weight: var(--bold);
  font-size: 30px;
  color: var(--white);
  text-align: center;
}

.set_header {
  width: 85%;
  margin: 0 auto;
}

button.slick-arrow.slick-next {
  right: -0px !important;
  display: none;
}

.slick-next:before {
  display: none;
  content: "";
}

.slick-slide.slick-active.slick-center.slick-current img {
  width: 70%;
  margin-top: -12px;
}

@media (max-width: 430px) {
  .slick-slide.slick-active.slick-center.slick-current img {
    width: 60%;
    margin-top: 0px;
  }
}

@media (max-width: 390px) {
  .slick-slide.slick-active.slick-center.slick-current img {
    width: 75%;
    margin-top: -10px;
  }
}
